<div id="mapsContent" class="scrollable" ng-controller="MapsCtrl">
	<div class="scrollable-content section">
		<ul>
			<li><a href="" ng-click="openMap('general')">Plan général du réseau</a></li>
			<li><a href="" ng-click="openMap('luciole')">Plan du réseau de nuit</a></li>
			<li><a href="" ng-click="openMap('centre')">Plan du centre-ville de Nantes</a></li>
			<li><a href="" ng-click="openMap('touristique')">Plan touristique de Nantes</a></li>
			<li><a href="" ng-click="openMap('dimanche')">Réseau du dimanche et jours fériés</a></li>
		</ul>
	</div>
</div>